* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  height: 1024px;
  background: url(./img/header_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header_title {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.header_title_big {
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #FFFFFF;
  margin-top: 217px;
  color: #FFFFFF;
  grid-column: span 8;
}
.header_title_text {
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  margin-top: 32px;
  margin-bottom: 44px;
  grid-column: span 6;
  height: 64px;
}
.header_title_button_style {
  width: 234.06px;
  height: 48.6px;
  background: #9C0332;
  border-radius: 30px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  box-sizing: border-box;
  border: none;
}
.header_title_button_style:hover {
  cursor: pointer;
  cursor: url(./img/cursor_button.svg), pointer;
  background: #EB443F;
  border-radius: 30px;
}

.product {
  height: 556px;
  background: url(./img/product_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.product_box {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
}
.product_for {
  grid-column: span 4;
  height: 300px;
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  padding-left: 32px;
}
.product_for:hover {
  cursor: pointer;
  cursor: url(./img/cursor_button.svg), pointer;
  border-radius: 16px;
  border: 3px solid #44D2FF;
}
.product_1 {
  background: url(./img/game_1.png);
  background-repeat: no-repeat;
}
.product_2 {
  background: url(./img/game_2.png);
  background-repeat: no-repeat;
}
.product_3 {
  background: url(./img/game_3.png);
  background-repeat: no-repeat;
}
.product_title {
  padding-bottom: 32px;
}

.content {
  height: 800px;
  background: url(./img/content_background_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
}
.content_title {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-column: span 6;
}
.content_title_big {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
}
.content_title_text {
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
}
.content_title_button_style {
  width: 234.06px;
  height: 48.6px;
  background: #9C0332;
  border-radius: 30px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  box-sizing: border-box;
  border: none;
}
.content_title_button_style:hover {
  cursor: pointer;
  cursor: url(./img/cursor_button.svg), pointer;
  background: #EB443F;
  border-radius: 30px;
}
.content_svg {
  height: 333px;
  grid-column: span 5;
  padding-left: 103px;
}

.section {
  height: 800px;
  background: url(./img/content_background_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
}
.section_title {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-column: span 6;
  padding-left: 103px;
}
.section_title_big {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
}
.section_title_text {
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
}
.section_title_button_style {
  width: 234.06px;
  height: 48.6px;
  background: #9C0332;
  border-radius: 30px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  box-sizing: border-box;
  border: none;
}
.section_title_button_style:hover {
  cursor: pointer;
  cursor: url(./img/cursor_button.svg), pointer;
  background: #EB443F;
  border-radius: 30px;
}
.section_svg {
  height: 333px;
  grid-column: span 5;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    height: 735px;
  }
  .header_title {
    grid-template-columns: repeat(4, 1fr);
  }
  .header_title_big {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    grid-column: span 4;
    text-align: center;
  }
  .header_title_text {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    grid-column: span 4;
    text-align: center;
  }
  .header_title_button {
    display: flex;
    justify-content: center;
  }
  .product {
    height: 1221px;
  }
  .product_box {
    grid-template-columns: repeat(4, 1fr);
    -moz-column-gap: 16px;
         column-gap: 16px;
    padding-top: 127px;
  }
  .product_1 {
    background: url(./img/mobile/Game_1.png);
    background-repeat: no-repeat;
  }
  .product_2 {
    background: url(./img/mobile/Game_2.png);
    background-repeat: no-repeat;
  }
  .product_3 {
    background: url(./img/mobile/Game_3.png);
    background-repeat: no-repeat;
  }
  .content {
    height: 653px;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  .content_title {
    grid-column: span 4;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .content_title_big {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
  }
  .content_title_text {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
  }
  .content_svg_1 {
    width: 334px;
  }
}/*# sourceMappingURL=style.css.map */