* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
  }

.center {
    padding-left: calc(50% - 620px);
    padding-right: calc(50% - 620px);
}

.header {
    height: 1024px;
    background: url(./img/header_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header_title {
    width: 789px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.header_title_big {
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #FFFFFF;
    padding-top: 217px;
}

.header_title_text {
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    width: 481px;
}

.header_title_button {
    width: 234.06px;
    height: 48.6px;
    background: #9C0332;
    border-radius: 30px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-top: 44px;
    box-sizing: border-box;
    border: none;
    margin-bottom: 493px;
}